.logo {
    width: 250px;
}

.myHeading {
    color: #016B61;
}

#signUpFormContainer {
    background: url('./Assets/FormBgImg.jpg') no-repeat center center/cover;
    color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#signUpFormContainer label,
#signUpFormContainer .form-check-label {
    color: #016B61;
    font-weight: 600;
}

.width {
    width: 250px;
}

.navbar {
    background-color: #016B61;
}

.navbar-brand {
    color: #E5E9C5;
}

.navbar-brand:hover {
    color: #E5E9C5;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #016B61;
}

.myBtn {
    width: 100px;
    background-color: #016B61;
    color: #E5E9C5;
}

.myBtn:hover {
    width: 100px;
    background-color: #016B61;
    color: #E5E9C5;
}

.swal2-confirm {
    background-color: #016B61;
}

.swal2-confirm:hover {
    background-color: #016B61;
}

.bgImage {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s, border 0.3s;
    display: inline-block;
    background-size: cover;
    margin: 3px;
    background-repeat: no-repeat;
}

.bgImage:hover {
    transform: scale(1.1);
}

.selectedImg {
    border: 2px solid #016B61 !important;
    border-radius: 3px;
    transform: scale(1.15);
}
